{{#if posts}}
{{#each posts as |post| }}
{{>dashboard-details}}
{{/each}}
{{else}}
<h5 class = "my-4">You haven't made a post yet. Start by clicking the button below.</h5>
{{/if}}
<a href="/newpost"><button class="btn btn-primary">Create a post</button></a>
{{#if posts}}
<script src = "js/deletepost.js"></script>
{{/if}}
