<form id="comment-form" data-postid = {{comment.post_id}} data-commentid = "{{comment.id}}">
  <div class="mb-3">
    <label for="content" class="form-label">Now editing comment</label>
    <textarea class="form-control" id="content" rows="3" placeholder="Add your content">{{comment.content}}</textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit changes</button>
</form>

<script src="/js/editcomment.js"></script>