<form id="post-form">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Add your title">
  </div>

  <div class="mb-3">
    <label for="content" class="form-label">Post content</label>
    <textarea class="form-control" id="content" rows="3" placeholder="Add your content"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Create a post</button>
</form>

<script src="/js/newpost.js"></script>