<h2>Signup</h2>

<form class="signup-form">
  <div class="mb-3">
    <label for="username-signup" class = "form-label">Username</label>
    <input class="form-control" type="text" id="username-signup" />
  </div>
  <div class="mb-3">
    <label for="password-signup" class = "form-label">Password</label>
    <input class="form-control" type="password" id="password-signup" />
  </div>
    <button class="btn btn-primary" type="submit">Signup</button>
    <a href="/login" class="href">Login instead</a>
</form>

<script src="/js/signup.js"></script>
